<link rel="stylesheet" href="/css/signup.css">
<form action="/user/create-session" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

    
  </form>

  <div class="row">
    <div class="col-md-3" style="margin-left: 25%;">
      <a class="btn btn-outline-dark" href="/user/auth/google" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </a>
    </div>
  </div>
 
  
  